


	.myImageNew{height: 1024px; background-attachment: scroll;}
    .parallax-1{background-attachment: scroll;}
    .parallax-2{background-attachment: scroll;}  
    .parallax-3{background-attachment: scroll;}
    .parallax-4{background-attachment: scroll;}
    .parallax-5{background-attachment: scroll;}
    .parallax-6{background-attachment: scroll;} 
    